.moviescardlist {
  width: 100%;
  display: grid;
  column-gap: 20px;
  row-gap: 38px;
  grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );
}

.moviescardlist__load-button {
  margin: 50px auto 80px;
  width: 320px;
  height: 36px;
  border: none;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
}