.footer {
  padding: 79px 70px 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
}

.footer__heading {
  color: #a0a0a0;
  flex-basis: 100%;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__copy {
  margin: 0 auto 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__link {
  text-decoration: none;
  color: #000;
  margin: 0 0 0 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

@media screen and (max-width: 770px) {
  .footer {
    background-color: #fff;
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 440px) {
  .footer {
    padding: 79px 10px 10px;
    flex-direction: column;
    align-items: center;
  }

  .footer__heading {
    margin-bottom: 30px;
  }

  .footer__link {
    margin: 0 0 12px;
  }

  .footer__copy {
    margin: 30px auto 0;
    order: 5;
    color: #a0a0a0;
  }
}